@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
:root {
  --navHeight: 50px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", DFKai-SB, sans-serif;
}

body {
  background: #335878;
  color: white;
}
body header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
body header nav {
  width: 100%;
  height: var(--navHeight);
  background: #c56c86;
  box-shadow: 1px 1px 5px rgb(0, 0, 0);
  display: flex;
  align-items: center;
}
body header nav .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 48;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 1rem;
  font-size: 2.5rem;
}
body header nav div {
  display: flex;
  margin-left: 2rem;
}
body header nav div img {
  width: 30px;
  margin-right: 0.5rem;
}
body header nav div h1 {
  color: white;
}
body header ul {
  display: flex;
  height: 2rem;
  position: absolute;
  bottom: 100%;
  right: 1rem;
  transform: translate(0%, 135%);
}
body header ul li {
  list-style: none;
  padding: 0rem 1.5rem;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease;
}
body header ul li a {
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
  transition: all 0.1s ease;
}
body main {
  display: flex;
  flex-wrap: wrap;
}
body main #Home {
  width: 100%;
  background: MainthemeColor;
  color: white;
  display: flex;
  flex-wrap: wrap-reverse;
}
body main #Home .homeLeft,
body main #Home .homeRight {
  border: 1px solid red;
}
body main #Home .homeLeft {
  flex-grow: 1.6;
  min-width: 380px;
  position: relative;
}
body main #Home .homeLeft .homeLeftContent {
  width: 90%;
  border: 1px solid black;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-5%, -50%);
}
body main #Home .homeLeft .homeLeftContent h1 {
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  border: 1px solid black;
}
body main #Home .homeLeft .homeLeftContent p {
  font-size: 1.25rem;
  margin-top: 0.75rem;
  border: 1px solid black;
}
body main #Home .homeLeft .homeLeftContent ul {
  width: 30%;
  border: 1px solid black;
  list-style: none;
  display: flex;
  margin-top: 0.75rem;
}
body main #Home .homeLeft .homeLeftContent ul li {
  margin: 0rem 0.25rem;
}
body main #Home .homeLeft .homeLeftContent ul li:hover {
  animation: gelatine 0.5s linear;
}
body main #Home .homeLeft .homeLeftContent ul li a {
  text-decoration: none;
  color: white;
}
body main #Home .homeLeft .homeLeftContent ul li a .socialIcon {
  font-size: 1.75rem;
}
body main #Home .homeRight {
  flex-grow: 1;
  min-width: 380px;
  position: relative;
}
body main #Home .homeRight .homeRightContent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  overflow: hidden;
}
body main #Home .homeRight .homeRightContent .myPhoto {
  position: absolute;
}
body main #Projects {
  border: 1px solid black;
  width: 100%;
  background: #335878;
  color: white;
}
body main #AboutMe {
  border: 1px solid black;
  width: 100%;
  background: #335878;
  color: white;
}
body main #ContactMe {
  border: 1px solid black;
  width: 100%;
  background: #335878;
  color: white;
}

@keyframes gelatine {
  from {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
  to {
    transform: scale(1, 1);
  }
}
@media screen and (max-width: 800px) {
  header nav span.material-symbols-outlined {
    display: block;
  }
  header ul {
    width: 100%;
    flex-direction: column;
    top: calc(var(--navHeight) * 1.01);
    left: 0;
  }
  header ul li {
    width: 100%;
    line-height: 2.5rem;
    background: #ff7582;
  }
}
@media screen and (max-width: 776px) {
  .homeLeft {
    height: 70vh;
  }
  .homeRight {
    height: 60vh;
  }
  .myPhoto {
    width: 35vw;
    min-width: 230px;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media not screen and (max-width: 776px) {
  .homeRight,
  .homeLeft {
    height: 100vh;
  }
  .myPhoto {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28vw;
    min-width: 107px;
  }
}/*# sourceMappingURL=style.css.map */