// fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

// Theme colors
// $themeColor1: #8c1c85;
// $themeColor2: #580e59;
// $MainthemeColor: #331e4e;

$MainthemeColor: #335878;
$themeColor1: #725a7a;
$themeColor2: #c56c86;
$emphasisColor: #ff7582;

$fontColor: white;

// root variables
:root {
  --navHeight: 50px;
}

//
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", DFKai-SB, sans-serif;
}

body {
  background: $MainthemeColor;
  color: $fontColor;

  header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    nav {
      width: 100%;
      height: var(--navHeight);
      background: $themeColor2;
      box-shadow: 1px 1px 5px rgb(0, 0, 0);
      display: flex;
      align-items: center;

      .material-symbols-outlined {
        font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 48;
        cursor: pointer;
        display: none;
        position: absolute;
        right: 1rem;
        font-size: 2.5rem;
      }

      div {
        display: flex;
        margin-left: 2rem;
        img {
          width: 30px;
          margin-right: 0.5rem;
        }
        h1 {
          color: $fontColor;
        }
      }
    }

    ul {
      display: flex;
      height: 2rem;
      position: absolute;
      bottom: 100%;
      right: 1rem;
      transform: translate(0%, 135%);
      li {
        list-style: none;
        padding: 0rem 1.5rem;
        display: flex;
        flex-direction: column;
        transition: all 0.2s ease;

        a {
          font-size: 1.1rem;
          color: $fontColor;
          text-decoration: none;
          transition: all 0.1s ease;
        }
      }
    }
  }

  main {
    display: flex;
    flex-wrap: wrap;

    #Home {
      width: 100%;
      background: MainthemeColor;
      color: white;
      display: flex;
      flex-wrap: wrap-reverse;

      .homeLeft,
      .homeRight {
        border: 1px solid red;
      }
      .homeLeft {
        flex-grow: 1.6;
        min-width: 380px;
        position: relative;
        animation: incomingLeft 1.5s ease;

        .homeLeftContent {
          width: 90%;
          border: 1px solid black;
          padding: 1rem;
          position: absolute;
          top: 50%;
          left: 10%;
          transform: translate(-5%, -50%);

          h1 {
            display: block;
            font-size: 3rem;
            font-weight: 100;
            letter-spacing: 0.1rem;
          }
          p {
            display: block;
            font-size: 1.25rem;
            margin-top: 0.75rem;
          }

          .downloadCV {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            width: 10rem;
            height: 2.25rem;
            background: $themeColor2;
            margin-top: 1.25rem;
            cursor: pointer;

            &:hover {
              animation: gelatine 0.5s linear;
            }

            a {
              color: $fontColor;
              display: block;
              text-decoration: none;
              text-align: center;
            }
            .downloadIcon {
              font-size: 1.5rem;
            }
          }
        }
      }
      .homeRight {
        flex-grow: 1;
        min-width: 380px;
        position: relative;
        animation: incomingRight 1.5s ease;

        .homeRightContent {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0%;
          left: 0%;
          overflow: hidden;

          .myPhoto {
            position: absolute;
            // width/height/position in RWD
          }
        }
      }

      // scroll down
      .scrollDownContainer {
        pointer-events: none;
        .scrollDown {
          position: absolute;
          bottom: -3%;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 3rem;
          margin-bottom: 1rem;
        }
        .arrow2 {
          position: absolute;
          bottom: 5%;
          left: 32%;
        }
        .arrow1,
        .arrow2 {
          animation: arrowMove 1s linear 0s infinite;
        }
      }
    }

    #Projects {
      border: 1px solid black;
      width: 100%;
      background: $MainthemeColor;
      color: white;
    }

    #AboutMe {
      border: 1px solid black;
      width: 100%;
      background: $MainthemeColor;
      color: white;
    }

    #ContactMe {
      border: 1px solid black;
      width: 100%;
      background: $MainthemeColor;
      color: white;
    }
  }
}

// Animation: 進場
@keyframes incomingLeft {
  0% {
    opacity: 0;
    transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes incomingRight {
  0% {
    opacity: 0;
    transform: translateX(5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

// Animation: gelatine
@keyframes gelatine {
  from {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
  to {
    transform: scale(1, 1);
  }
}

// Animation: arrow
@keyframes arrowMove {
  0% {
    transform: translateY(-30%) scaleX(3);
  }
  100% {
    transform: translateY(-20%) scaleX(3);
  }
}

// RWD nav collaspe
@media screen and (max-width: 800px) {
  header {
    nav {
      span.material-symbols-outlined {
        display: block;
      }
    }

    ul {
      width: 100%;
      flex-direction: column;
      top: calc(var(--navHeight) * 1.01);
      left: 0;
      li {
        width: 100%;
        line-height: 2.5rem;
        background: $emphasisColor;
      }
    }
  }

  .scrollDownContainer {
    display: none;
  }
}

// RWD Home
@media screen and (max-width: 776px) {
  .homeLeft {
    height: 0vh;
  }
  .homeRight {
    height: 60vh;
  }
  .myPhoto {
    width: 35vw;
    min-width: 230px;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media not screen and (max-width: 776px) {
  .homeRight,
  .homeLeft {
    height: 100vh;
  }
  .myPhoto {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28vw;
    min-width: 107px;
  }
}
